/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-grayishBlue: 237 18% 59%;
    --clr-softRed: 345 95% 68%;
    --clr-white: 0 0% 100%;
    --clr-desaturatedBlue: 236 21% 26%;
    --clr-darkBlue: 235 16% 14%;
    --clr-almostblack: 234 17% 12%;
    
    /* font-sizes */
    --fs-1: 2.375rem;
    --fs-2: 1.125rem;
    --fs-3: .4375rem;
}

@media (min-width: 35em) {
    :root {
        --fs-1: 5rem;
        --fs-2: 1.375rem;
        --fs-3: .875rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 700;
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-darkBlue) );
    min-height: 100vh;

    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.text-white { color: hsl( var(--clr-white) );}
.text-red { color: hsl( var(--clr-softRed) );}
.text-grayish { color: hsl( var(--clr-grayishBlue) );}

/* typography */

.uppercase { text-transform: uppercase; }

.fs-1 { 
    font-size: var(--fs-1);
    line-height: 71px;
    letter-spacing: -1.08px;
}

.fs-2 { 
    font-size: var(--fs-2);
    line-height: 24px;
    letter-spacing: 6.14px;
}

.fs-3 { 
    font-size: var(--fs-3);
    line-height: 9.26px;
    letter-spacing: 2.96px;
}

@media (min-width: 35em) {
    .fs-1 { 
        letter-spacing: -2.4px;
    }
    
    .fs-2 { 
        line-height: 29.11px;
        letter-spacing: 7.5px;
    }
    
    .fs-3 { 
        line-height: 18.52px;
        letter-spacing: 5.92px;
    }
}

.attribution {
    font-size: 11px;
    margin-bottom: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Layout */

.main {
    background-image: url(./images/bg-stars.svg);
    background-position: center;
    background-size: cover;
}

.title {
    text-align: center;
    margin-top: 8.875rem;
    margin-bottom: 3.375rem;
    margin-inline: 1.5rem;
}

.countdown {
    margin-bottom: 10.1875rem;
    justify-content: center;
    gap: 1rem;
}

.columns {
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.squares {
    width: 70px;
    height: 71px;
    background-color: hsl( var(--clr-desaturatedBlue) );
    border-radius: 4px;
    -webkit-mask-image:
     radial-gradient(circle at center left, transparent 0, transparent  4px, black 4px),
     radial-gradient(circle at center right, transparent 0, transparent  4px, black 4px);
-webkit-mask-position: center left, center right;
-webkit-mask-repeat: no-repeat;
-webkit-mask-size: 50% 50%;
mask-image:
    radial-gradient(circle at center left, transparent 0, transparent 4px, black 4px),
    radial-gradient(circle at center right, transparent 0, transparent 4px, black 4px);
mask-position: center left, center right;
mask-repeat: no-repeat;
mask-size: 50% 50%;
}

.squareUp {
    width: 70px;
    height: 33px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.15;
    border-radius: 0px 0px 4px 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    
}

.social {
    background-image: url(./images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-position: 80%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3rem;
    gap: 2rem;
    height: 168px;
}

.icons:hover .icon{
    fill: hsl( var(--clr-softRed) );
}